{% extends 'app/base.html' %}

{% block title %}Home | {% endblock %}

{% block content %}
    <div class="columns is-multiline mb-6">
        <div class="column is-12 has-text-centered mt-6 mb-6">
            <h2 class="is-size-3">OUR LATEST VEHICLES</h2>
        </div>

        {% for vehicle in vehicles %}
            <div class="column-is-3 product-list-item">
                <div class="box">
                    <figure class="image is-4by4 mb-4">
                        <img src="{{ vehicle.get_thumbnail }}">
                    </figure>
            
                    <h2 class="subtitle"> Model : {{ vehicle.model }}</h2>
                    <h2 class="subtitle is-size-6 mb-5">Brand : {{ vehicle.brand }}</h2>
                    <h3 class="price is-size-6 mb-5">Rs. {{ vehicle.price }}</h3>
            
                    <hr>
                    <a href="{% url 'vehicle' vehicle.id %}" class="button is-dark is-uppercase">View</a>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}